<div class="bg-menu p-4 pb-8 rounded">
  <div class="mb-4">
    <select
      data-test-kuler-select
      class="input"
      id="harmony"
      {{on "change" this.setSelectedPalette}}
    >
      {{#each this.palettes as |palette|}}
        <option
          data-test-kuler-select-harmony="{{capitalize palette.name}}"
          class="capitalize"
          value={{palette.name}}
          selected={{eq this.selectedPalette palette}}
        >
          {{palette.name}}
        </option>
      {{/each}}
    </select>
  </div>

  <div class="flex justify-center pt-2 w-full">
    <div
      class="kuler-color-picker-container w-auto"
      id="kuler-color-picker-container"
    ></div>
  </div>
</div>

<h2 class="mb-2 ml-1 mt-4 text-lg text-heading">
  Palette
</h2>

{{#if (not (is-empty this.selectedPalette.selectedColorIndex))}}
  <div class="bg-menu p-4 rounded">
    <KulerPaletteRow
      @palette={{this.selectedPalette}}
      @setSelectedIroColor={{this.setSelectedIroColor}}
    />

    <EditSelectedColor
      @colorPicker={{this.colorPicker}}
      @palette={{this.selectedPalette}}
    />

    {{#if (not-eq this.selectedPalette.selectedColorIndex 0)}}
      <button
        data-test-set-base-color
        class="btn btn-primary flex-grow mt-5 p-2 text-sm w-full"
        type="button"
        {{on "click" this.setColorAsBase}}
      >
        🏠 Set as base
      </button>
    {{/if}}
  </div>
{{/if}}