<AnimatedContainer class="h-full">
  <AnimatedValue
    @duration={{this.duration}}
    @intialInsertion={{true}}
    @key="outlets"
    @rules={{this.rules}}
    {{! @glint-expect-error: this is internal private Ember stuff}}
    @value={{-get-dynamic-var "outletState"}}
    as |outletState|
  >
    {{! @glint-expect-error: this is internal private Ember stuff}}
    {{#-with-dynamic-vars outletState=outletState}}
      <div class="h-full overflow-y-scroll w-full">
        {{outlet}}
      </div>
    {{/-with-dynamic-vars}}
  </AnimatedValue>
</AnimatedContainer>