<div class="font-normal text-main-text text-sm w-full" data-test-settings-menu>
  <div class="p-1 pb-4">
    <label class="block">
      <Input
        data-test-settings-startup
        @type="checkbox"
        @checked={{this.settings.openOnStartup}}
        {{on "change" @enableDisableAutoStart}}
      />

      Start Swach on system startup
    </label>

    <label class="block">
      <Input
        data-test-settings-show-dock-icon
        @type="checkbox"
        @checked={{this.settings.showDockIcon}}
        {{on "change" @toggleShowDockIcon}}
      />

      Show dock icon
    </label>

    <label class="block">
      <Input
        data-test-settings-sounds
        @type="checkbox"
        @checked={{this.settings.sounds}}
      />

      Play sounds
    </label>

    <label class="block">
      <Input @type="checkbox" @checked={{this.settings.notifications}} />

      Show notifications
    </label>
  </div>

  <div class="p-1 pb-4 pt-3" data-test-settings-select-theme>
    <h6 class="font-semibold mb-2 text-heading">
      App theme:
    </h6>

    <PowerSelect
      @options={{this.themes}}
      @placeholder="Choose theme"
      @selected={{this.settings.userTheme}}
      @onChange={{this.changeTheme}} as |theme|
    >
      {{capitalize theme}}
    </PowerSelect>
  </div>

  <div class="p-1 pb-4 pt-4">
    <button
      class="btn btn-primary pb-1 pl-2 pr-2 pt-1"
      type="button"
      {{on "click" @checkForUpdates}}
    >
      Check for updates
    </button>
  </div>

  <div class="p-1">
    <h6 class="font-semibold text-heading">
      About:
    </h6>

    <p class="mt-2">
      Version: {{this.version}}
    </p>

    <p>
      Copyright © 2020 Ship Shape Consulting LLC. All rights reserved.
    </p>

    <p class="font-semibold mt-2">
      <a
        href
        class="text-alt hover:text-alt-hover"
        {{on "click" this.visitWebsite}}
      >
        https://swach.io/
      </a>
    </p>
  </div>
</div>