<div class="font-normal text-main-text text-sm w-full" data-test-settings-menu>
  <div class="p-1 pb-2">
    {{#if this.isMacOSOrWindows}}
    <label class="flex items-center mb-1">
      <Input data-test-settings-startup class="form-checkbox h-4 mr-2 text-checkbox rounded w-4" @type="checkbox"
        @checked={{this.settings.openOnStartup}} {{on "change" @enableDisableAutoStart}} />

      Start Swach on system startup
    </label>
    {{/if}}

    {{#if this.isMacOS}}
    <label class="flex items-center mb-1">
      <Input data-test-settings-show-dock-icon class="form-checkbox h-4 mr-2 text-checkbox rounded w-4" @type="checkbox"
        @checked={{this.settings.showDockIcon}} {{on "change" @toggleShowDockIcon}} />

      Show dock icon
    </label>
    {{/if}}

    <label class="flex items-center mb-1">
      <Input data-test-settings-sounds class="form-checkbox h-4 mr-2 text-checkbox rounded w-4" @type="checkbox"
        @checked={{this.settings.sounds}} />

      Play sounds
    </label>

    <label class="flex items-center mb-1">
      <Input class="form-checkbox h-4 mr-2 text-checkbox rounded w-4" @type="checkbox"
        @checked={{this.settings.notifications}} />

      Show notifications
    </label>
  </div>

  <div class="p-1 pb-4 pt-3" data-test-settings-select-theme>
    <h6 class="font-semibold mb-2 mt-4 text-heading text-sm">
      Appearance
    </h6>

    <div class="grid grid-cols-3 gap-2">
      <label>
        <Input data-test-settings-select-theme="light" class="image-radio absolute h-0 opacity-0 w-0"
          checked={{eq this.settings.userTheme "light"}} name="theme" @type="radio" @value="light"
          {{on "change" (fn this.changeTheme "light")}} />

        {{svg-jar "light-theme"}}

        <div class="text-center w-full">
          Light
        </div>
      </label>
      <label>
        <Input data-test-settings-select-theme="dark" class="image-radio absolute h-0 opacity-0 w-0"
          checked={{eq this.settings.userTheme "dark"}} name="theme" @type="radio" @value="dark"
          {{on "change" (fn this.changeTheme "dark")}} />

        {{svg-jar "dark-theme"}}

        <div class="text-center w-full">
          Dark
        </div>
      </label>
      <label>
        <Input data-test-settings-select-theme="dynamic" class="image-radio absolute h-0 opacity-0 w-0"
          checked={{eq this.settings.userTheme "dynamic"}} name="theme" @type="radio" @value="dynamic"
          {{on "change" (fn this.changeTheme "dynamic")}} />

        {{svg-jar "dynamic-theme"}}

        <div class="text-center w-full">
          Dynamic
        </div>
      </label>
    </div>
  </div>

  {{#if this.isMacOSOrWindows}}
  <div class="p-1 pb-4 pt-4">
    <div class="flex h-8 w-full">
      <LoadingButton class="w-full" @loading={{this.checkingForUpdates}} @onClick={{@checkForUpdates}}>
        Check for updates
      </LoadingButton>
    </div>
  </div>
  {{/if}}
</div>