<div
  class="bg-menu cursor-default flex mb-3 p-3 rounded w-full"
  data-test-color={{@color.name}}
  {{on "click" (fn this.colorUtils.copyColorToClipboard @color)}}
>
  <div class="inline-block m-1 h-14 relative rounded w-14">
    <div
      class="absolute h-14 left-0 rounded top-0 w-14 z-10"
      style={{html-safe (concat "background-color: " @color.hex)}}
    ></div>
    <div
      class="opacity-checkerboard absolute h-14 left-0 rounded top-0 w-14 z-0"
    ></div>
  </div>

  <div class="flex flex-grow justify-between items-center">
    <div class="flex flex-col justify-center">
      <p class="font-medium pl-2 text-main-text text-sm" data-test-color-name>
        {{@color.name}}
      </p>
      <p
        class="font-medium pl-2 pt-2 text-sub-text text-xs"
        data-test-color-hex
      >
        {{@color.hex}}
      </p>
    </div>

    {{#if this.showActions}}
      <OptionsMenu
        data-test-color-row-menu
        class="text-sm"
        @showBackground={{true}}
      >
        <:trigger>
          {{svg-jar "more-horizontal" class="icon" height="15" width="15"}}
        </:trigger>
        <:content>
          <button
            data-test-edit-color
            class="flex items-center p-1 text-menu-text transition-colors hover:text-menu-text-hover"
            type="button"
            {{on "click" (fn @toggleColorPickerIsShown @color)}}
          >
            {{svg-jar "edit" class="icon mr-4" height="15" width="15"
            }} Edit Color
          </button>
          <button
            data-test-go-to-kuler
            class="flex items-center p-1 text-menu-text transition-colors hover:text-menu-text-hover"
            type="button"
            {{on "click" this.transitionToKuler}}
          >
            {{svg-jar "color-harmonies" class="icon mr-4" height="15" width="15"
            }} Color Harmonies
          </button>
          {{#if @deleteColor}}
            <button
              data-test-delete-color
              class="flex items-center p-1 text-menu-text transition-colors hover:text-menu-text-hover"
              disabled={{@palette.isLocked}}
              type="button"
              {{on "click" (stop-propagation (fn this.deleteColor @color))}}
              {{on "mouseleave" (set this "deleteConfirm" false)}}
            >
              {{svg-jar
                "trash"
                class=(concat
                  "icon mr-4 " (if this.deleteConfirm "delete-confirm")
                )
                height="15"
                width="15"
              }} Delete Color
            </button>
          {{/if}}
        </:content>
      </OptionsMenu>
    {{/if}}
  </div>
</div>