<div
  class="bg-menu cursor-default flex mb-3 p-3 rounded w-full"
  data-test-color={{@color.name}}
  {{on "click" (fn this.colorUtils.copyColorToClipboard @color)}}
>
  <div class="inline-block m-1 h-10 relative rounded w-10">
    <div
      class="absolute h-10 left-0 rounded top-0 w-10 z-10"
      style={{html-safe (concat "background-color: " @color.hex)}}
    ></div>
    <div
      class="opacity-checkerboard absolute h-10 left-0 rounded top-0 w-10 z-0"
    ></div>
  </div>
  <div class="flex flex-grow justify-between items-center">
    <div class="flex flex-col justify-center">
      <p class="font-medium pl-2 text-main-text text-sm" data-test-color-name>
        {{@color.name}}
      </p>
      <p class="font-medium pl-2 text-sub-text text-xs" data-test-color-hex>
        {{@color.hex}}
      </p>
    </div>

    {{#if this.showActions}}
      <div
        data-test-color-row-menu
        {{on "mouseenter" (set this "showMenu" true)}}
        {{on "mouseleave" (set this "showMenu" false)}}
      >
        {{#animated-if this.showMenu duration=350 use=this.fade}}
          <div>
            <button
              data-test-edit-color
              type="button"
              {{on
                "click"
                (stop-propagation (fn @toggleColorPickerIsShown @color))
              }}
            >
              {{svg-jar "rename" class="icon mr-1" height="15" width="15"}}
            </button>
            <button
              data-test-go-to-kuler
              type="button"
              {{on "click" (stop-propagation (fn this.transitionToKuler))}}
            >
              {{svg-jar "filter" class="icon mr-1" height="15" width="15"}}
            </button>
            {{#if @deleteColor}}
              <button
                data-test-delete-color
                disabled={{@palette.isLocked}}
                type="button"
                {{on "click" (stop-propagation (fn this.deleteColor @color))}}
                {{on "mouseleave" (set this "deleteConfirm" false)}}
              >
                {{svg-jar
                  "trash"
                  class=(concat
                    "icon " (if this.deleteConfirm "delete-confirm")
                  )
                  height="15"
                  width="15"
                }}
              </button>
            {{/if}}
          </div>
        {{else}}
          <div>
            {{svg-jar "more-horizontal" class="icon" height="15" width="15"}}
          </div>
        {{/animated-if}}
      </div>
    {{/if}}
  </div>
</div>