{{#if @isShown}}
  <EmberPopover
    @arrowClass="color-picker-arrow custom-arrow"
    @event="none"
    @innerClass="h-full w-full"
    @isShown={{@isShown}}
    @side="top-end"
    @spacing={{10}}
    @tooltipClass="color-picker-popover bg-main border-menu fixed h-full m-0 pb-4 pl-3 pr-3 pt-5 text-alt w-screen"
  >
    <div
      class="h-full relative w-full"
      data-test-color-picker
      {{did-update this.setScrollPosition}}
    >
      <ColorRow @color={{this.selectedColor}} @showActions={{false}} />

      <div class="bg-menu flex p-4 relative rounded">
        <div
          class="flex-1 w-auto"
          id="color-picker-container"
          {{did-insert this.initColorPicker}}
          {{will-destroy this.destroyColorPicker}}
        ></div>

        <div class="absolute flex-grow mt-4 mr-4 right-0 top-0">
          <HexInput
            data-test-color-picker-hex
            class="input rounded mb-4 w-20"
            @selectedColor={{this.selectedColor}}
            @update={{fn this.updateColorInputs "hex"}}
            @updateColor={{this.updateColor}}
            @value={{this.selectedColor._hex}}
          />

          <div class="input overflow-hidden relative whitespace-no-wrap w-20">
            <RgbInput
              data-test-color-picker-r
              class="bg-input-bg text-right text-xs w-full"
              @selectedColor={{this.selectedColor}}
              @type="r"
              @update={{fn this.updateColorInputs "r"}}
              @updateColor={{this.updateColor}}
              @value={{this.selectedColor._r}}
            />
          </div>

          <div class="input overflow-hidden relative whitespace-no-wrap w-20">
            <RgbInput
              data-test-color-picker-g
              class="bg-input-bg text-right text-xs w-full"
              @selectedColor={{this.selectedColor}}
              @type="g"
              @update={{fn this.updateColorInputs "g"}}
              @updateColor={{this.updateColor}}
              @value={{this.selectedColor._g}}
            />
          </div>

          <div class="input overflow-hidden relative whitespace-no-wrap w-20">
            <RgbInput
              data-test-color-picker-b
              class="bg-input-bg text-right text-xs w-full"
              @selectedColor={{this.selectedColor}}
              @type="b"
              @update={{fn this.updateColorInputs "b"}}
              @updateColor={{this.updateColor}}
              @value={{this.selectedColor._b}}
            />
          </div>

          <div
            class="input overflow-hidden relative rounded-b whitespace-no-wrap w-20"
          >
            <AlphaInput
              data-test-color-picker-a
              class="bg-input-bg text-right text-xs w-full"
              @selectedColor={{this.selectedColor}}
              @update={{fn this.updateColorInputs "a"}}
              @updateColor={{this.updateColor}}
              @value={{this.selectedColor._a}}
            />
          </div>
        </div>
      </div>

      <div class="absolute bottom-0 flex mb-12 w-full">
        <button
          data-test-color-picker-cancel
          class="btn flex-1 mr-1 p-2"
          type="button"
          {{on "click" @toggleIsShown}}
        >
          Cancel
        </button>

        <button
          data-test-color-picker-save
          class="btn btn-primary flex-grow ml-1 p-2"
          type="button"
          {{on "click" this.saveColorAndClose}}
        >
          🎉 Save color
        </button>
      </div>
    </div>
  </EmberPopover>
{{/if}}