<button id="toggle-picker" type="button" {{on "click" this.toggleIsShown}}>
  {{svg-jar "edit-color" height="20" width="20"}}
</button>
<EmberPopover
  @arrowClass="color-picker-arrow custom-arrow"
  @event="none"
  @innerClass="h-full w-full"
  @isShown={{this.isShown}}
  @side="top-end"
  @spacing={{10}}
  @targetId="toggle-picker"
  @tooltipClass="color-picker-popover bg-main border-menu fixed h-full m-0 pb-4 pl-3 pr-3 pt-5 text-alt w-screen"
>
  <div class="h-full relative w-full">
    <ColorRow @color={{this.selectedColor}} @showActions={{false}} />

    <div class="bg-menu flex p-4 rounded">
      <div
        class="flex-1 w-auto"
        id="color-picker-container"
        {{did-insert this.initColorPicker}}
        {{will-destroy this.destroyColorPickr}}
      ></div>

      <div class="flex-grow ml-2">
        <Input class="bg-main rounded w-full" type="text" />
      </div>
    </div>

    <div class="absolute bottom-0 flex mb-12 w-full">
      <button
        class="btn flex-1 mr-1 p-2"
        type="button"
        {{on "click" this.toggleIsShown}}
      >
        Cancel
      </button>

      <button
        class="btn btn-primary flex-grow ml-1 p-2"
        type="button"
        {{on "click" this.addColorAndClose}}
      >
        🎉 Save color
      </button>
    </div>
  </div>
</EmberPopover>