<li
  class="context-menu__item
    {{if this.isDisabled "context-menu__item--disabled"}}
    {{if this._isParent "context-menu__item--parent"}}"
    {{on "click" this.itemClicked}}
>
  <span
    class="context-menu__item__label flex flex-shrink items-center"
    data-test-context-menu-item="{{@item.label}}"
  >
    {{#if @item.icon}}
      {{svg-jar
        @item.icon
        class="context-menu__item__icon menu-icon inline-block h-4 mr-2 w-4"
      }}
    {{/if}}
    {{@item.label}}
    {{#if this._amount}}
      ({{this._amount}})
    {{/if}}
  </span>

  {{#if @item.subActions}}
    {{#unless this.isDisabled}}
      <ul class="context-menu--sub">
        {{#each @item.subActions as |subItem|}}
          <ContextMenuItem
            @amount={{@amount}}
            @clickAction={{@clickAction}}
            @item={{subItem}}
            @itemIsDisabled={{@itemIsDisabled}}
          />
        {{/each}}
      </ul>
    {{/unless}}
  {{/if}}
</li>