<div class="w-full">
  <div
    data-test-contrast-preview
    class="rounded-lg w-full"
    style={{html-safe
      (concat
        "-webkit-app-region: drag; "
        "background-color: "
        this.backgroundColor
        "; "
        "color: "
        this.foregroundColor
      )
    }}
  >
    <div class="flex justify-center p-4 pb-2 w-full">
      <div class="flex items-center w-full">
        <h1 class="font-black text-4xl" data-test-wcag-string>
          {{this.wcagString}}
        </h1>
        <div class="flex flex-grow justify-end">
          <div
            data-test-wcag-score
            class="h-8 leading-none p-2 rounded"
            style={{html-safe
              (concat
                "background-color: "
                this.foregroundColor
                "; "
                "color: "
                this.backgroundColor
              )
            }}
          >
            {{this.wcagScore}}
          </div>
        </div>
      </div>
    </div>

    <div class="flex justify-center pl-4 pr-4 w-full">
      <div class="flex max-w-lg w-full">
        <h2 class="font-bold text-lg">
          Check Contrast
        </h2>
      </div>
    </div>

    <div class="flex justify-center w-full">
      <p class="p-4 text-sm">
        Enter a
        <span class="font-bold">
          text color
        </span>
        and a
        <span class="font-bold">
          background color
        </span>
        in hexadecimal format or choose a color using the color picker.
      </p>
    </div>
  </div>

  <div class="color-pickers-container flex justify-between mt-4">
    <div class="mr-2 w-full">
      <div
        class="background-color-picker"
        {{did-insert this.initBackgroundColorPicker}}
      ></div>
    </div>

    <div class="ml-2 w-full">
      <div
        class="foreground-color-picker ml-1"
        {{did-insert this.initForegroundColorPicker}}
      ></div>
    </div>
  </div>
</div>