{{#if this.isActive}}
  {{#in-element @contextMenuContainer}}
    <div class="context-menu-container" style={{this.position}}>
      <ul
        class="context-menu {{if this.renderLeft "context-menu--left"}}"
        data-test-context-menu
      >
        {{#each this.items as |item|}}
          <ContextMenuItem
            @amount={{this.selection.length}}
            @item={{item}}
            @itemIsDisabled={{this.itemIsDisabled}}
            @clickAction={{this.clickAction}}
          />
        {{/each}}
      </ul>
    </div>
  {{/in-element}}
{{/if}}