<div class="inline-flex mt-2 w-full">
  <div
    class="input inline-block mr-2 overflow-hidden rounded whitespace-no-wrap"
  >
    <Input
      data-test-kuler-hex
      class="bg-input-bg text-xs w-16"
      type="text"
      value={{this.selectedColor.hex}}
      {{on "change" (fn this.updateColor "hex")}}
      {{on "keypress" this.enterPress}}
    />
  </div>

  <div
    class="input float-left overflow-hidden relative rounded-l whitespace-no-wrap w-16"
  >
    <span class="input-prefix">
      R:
    </span>

    <OneWayNumberMask
      data-test-kuler-g
      class="bg-input-bg text-right text-xs w-full"
      @decimal={{false}}
      @options={{hash
        allowMinus=false
        min=0
        max=255
        step=1
        unmaskAsNumber=true
      }}
      @update={{fn this.updateColor "r"}}
      @value={{this.selectedColor.r}}
      {{on "keypress" this.enterPress}}
    />
  </div>
  <div
    class="input float-left overflow-hidden relative whitespace-no-wrap w-16"
  >
    <span class="input-prefix">
      G:
    </span>

    <OneWayNumberMask
      data-test-kuler-g
      class="bg-input-bg text-right text-xs w-full"
      @decimal={{false}}
      @options={{hash
        allowMinus=false
        min=0
        max=255
        step=1
        unmaskAsNumber=true
      }}
      @update={{fn this.updateColor "g"}}
      @value={{this.selectedColor.g}}
      {{on "keypress" this.enterPress}}
    />
  </div>
  <div
    class="input float-left overflow-hidden relative whitespace-no-wrap w-16"
  >
    <span class="input-prefix">
      B:
    </span>

    <OneWayNumberMask
      data-test-kuler-b
      class="bg-input-bg text-right text-xs w-full"
      @decimal={{false}}
      @options={{hash
        allowMinus=false
        min=0
        max=255
        step=1
        unmaskAsNumber=true
      }}
      @update={{fn this.updateColor "b"}}
      @value={{this.selectedColor.b}}
      {{on "keypress" this.enterPress}}
    />
  </div>
  <div
    class="input float-left overflow-hidden relative rounded-r whitespace-no-wrap w-16"
  >
    <span class="input-prefix">
      A:
    </span>

    <OneWayNumberMask
      data-test-kuler-a
      class="bg-input-bg text-right text-xs w-full"
      @decimal={{true}}
      @options={{hash
        allowMinus=false
        min=0
        max=1
        step=0.01
        unmaskAsNumber=true
      }}
      @update={{fn this.updateColor "a"}}
      @value={{this.selectedColor.a}}
      {{on "keypress" this.enterPress}}
    />
  </div>
</div>