<div class="inline-flex mt-2 w-full">
  <div
    class="input inline-block mr-2 overflow-hidden rounded whitespace-nowrap"
  >
    <HexInput
      data-test-kuler-hex
      class="bg-input-bg text-xs w-16"
      @selectedColor={{this.selectedColor}}
      @update={{fn this.updateColorInputs "hex"}}
      @updateColor={{this.updateColor}}
      @value={{this.selectedColor._hex}}
    />
  </div>

  <div
    class="input float-left overflow-hidden relative rounded-l whitespace-nowrap w-16"
  >
    <RgbInput
      data-test-kuler-r
      class="bg-input-bg text-right text-xs w-full"
      @selectedColor={{this.selectedColor}}
      @type="r"
      @update={{fn this.updateColorInputs "r"}}
      @updateColor={{this.updateColor}}
      @value={{this.selectedColor._r}}
    />
  </div>
  <div
    class="input float-left overflow-hidden relative whitespace-nowrap w-16"
  >
    <RgbInput
      data-test-kuler-g
      class="bg-input-bg text-right text-xs w-full"
      @selectedColor={{this.selectedColor}}
      @type="g"
      @update={{fn this.updateColorInputs "g"}}
      @updateColor={{this.updateColor}}
      @value={{this.selectedColor._g}}
    />
  </div>
  <div
    class="input float-left overflow-hidden relative whitespace-nowrap w-16"
  >
    <RgbInput
      data-test-kuler-b
      class="bg-input-bg text-right text-xs w-full"
      @selectedColor={{this.selectedColor}}
      @type="b"
      @update={{fn this.updateColorInputs "b"}}
      @updateColor={{this.updateColor}}
      @value={{this.selectedColor._b}}
    />
  </div>
  <div
    class="input float-left overflow-hidden relative rounded-r whitespace-nowrap w-16"
  >
    <AlphaInput
      data-test-kuler-a
      class="bg-input-bg text-right text-xs w-full"
      @selectedColor={{this.selectedColor}}
      @update={{fn this.updateColorInputs "a"}}
      @updateColor={{this.updateColor}}
      @value={{this.selectedColor._a}}
    />
  </div>
</div>