<div data-test-kuler-select>
  <PowerSelect
    @options={{this.palettes}}
    @placeholder="Choose harmony"
    @selected={{this.selectedPalette}}
    @onChange={{this.setSelectedPalette}} as |palette|
  >
    {{capitalize palette.name}}
  </PowerSelect>
</div>

<div class="flex justify-center pb-8 w-full">
  <div class="w-auto" id="kuler-color-picker-container"></div>
</div>

<KulerPaletteRow
  @palette={{this.selectedPalette}}
  @setSelectedIroColor={{this.setSelectedIroColor}}
/>