<PowerSelect
  @dropdownClass="bg-menu max-w-md text-alt text-xs"
  @triggerClass="bg-menu max-w-md text-alt text-xs"
  @options={{this.palettes}}
  @selected={{this.selectedPalette}}
  @onChange={{this.setSelectedPalette}} as |palette|
>
  {{capitalize palette.name}}
</PowerSelect>

<div class="flex justify-center pb-8 w-full">
  <div class="w-auto" id="kuler-color-picker-container"></div>
</div>

<KulerPaletteRow
  @palette={{this.selectedPalette}}
  @setSelectedIroColor={{this.setSelectedIroColor}}
/>