<div class="bg-menu p-4 pb-8 rounded">
  <div data-test-kuler-select class="mb-4">
    <PowerSelect
      @options={{this.palettes}}
      @placeholder="Choose harmony"
      @selected={{this.selectedPalette}}
      @onChange={{this.setSelectedPalette}} as |palette|
    >
      {{capitalize palette.name}}
    </PowerSelect>
  </div>

  <div class="flex justify-center pt-2 w-full">
    <div
      class="w-auto"
      class="kuler-color-picker-container"
      id="kuler-color-picker-container"
    ></div>
  </div>
</div>

<h2 class="mb-2 ml-1 mt-4 text-lg text-heading">
  Palette
</h2>

{{#if (not (is-empty this.selectedPalette.selectedColorIndex))}}
  <div class="bg-menu p-4 rounded">
    <KulerPaletteRow
      @palette={{this.selectedPalette}}
      @setSelectedIroColor={{this.setSelectedIroColor}}
    />

    <EditSelectedColor @palette={{this.selectedPalette}} />
  </div>
{{/if}}