<div
  data-test-kuler-palette="{{@palette.name}}"
  class="bg-menu cursor-default mb-3 p-3 rounded-lg shadow w-full"
>
  <div class="flex items-center justify-between h-6 pb-2 w-full">
    <h6 class="text-sm" data-test-kuler-palette-name>
      {{@palette.name}}
    </h6>

    <div
      {{on "mouseenter" (set this.showMenu true)}}
      {{on "mouseleave" (set this.showMenu false)}}
    >
      {{#animated-if this.showMenu use=this.fade}}
        <div>
          <button type="button" {{on "click" (fn this.savePalette)}}>
            {{svg-jar "save" class="icon" height="14" width="14"}}
          </button>
        </div>
      {{else}}
        <div>
          {{svg-jar "more-horizontal" class="icon" height="15" width="15"}}
        </div>
      {{/animated-if}}
    </div>
  </div>

  <div class="palette flex flex-grow h-8 relative w-full">
    <div class="absolute palette-color-squares flex flex-grow h-8 top-0 w-full">
      {{#each @palette.colors as |color index|}}
        <div
          data-test-kuler-palette-color="{{index}}"
          class="flex flex-grow
            {{if (eq index 0) "first"}}
            {{if (eq index (sub @palette.colors.length 1)) "last"}}"
          style={{html-safe (concat "background-color: " color.hex)}}
          {{on "click" (fn this.colorUtils.copyColorToClipboard color)}}
        ></div>
      {{/each}}
    </div>
  </div>
</div>
