<div
  class="bg-menu cursor-default mb-3 p-3 rounded-lg shadow w-full"
  data-test-palette-row
>
  <div class="flex items-center justify-between pb-2 w-full">
    <h6 class="text-sm">
      {{#if this.isEditing}}
        <Input
          class="bg-main border border-2 h-6 m-0 p-0 rounded text-alt"
          @type="text"
          @value={{@palette.name}}
          {{did-insert this.insertedNameInput}}
          {{on "blur" (fn this.updatePaletteName @palette)}}
          {{on "keypress" (fn this.enterPress)}}
        />
      {{else}}
        <LinkTo
          class="flex flex-grow h-6 items-center w-full"
          @query={{hash paletteId=@palette.id}}
          @route="colors"
        >
          {{@palette.name}}
          {{svg-jar "arrow-right" class="icon ml-1" height="12" width="12"}}
        </LinkTo>
      {{/if}}
    </h6>

    <div
      {{on "mouseenter" (set this.showMenu true)}}
      {{on "mouseleave" (set this.showMenu false)}}
    >
      {{#animated-if this.showMenu use=this.fade}}
        <div>
          <button class="mr-1" {{on "click" (fn this.favoritePalette)}}>
            {{svg-jar
              "heart"
              class=(concat "icon " (if this.palette.isFavorite "filled"))
              height="13"
              width="13"
            }}
          </button>

          <button {{on "click" (fn this.deletePalette)}}>
            {{svg-jar "trash" class="icon" height="13" width="13"}}
          </button>
        </div>
      {{else}}
        <div>
          {{svg-jar "more-horizontal" class="icon" height="15" width="15"}}
        </div>
      {{/animated-if}}
    </div>
  </div>

  <div class="palette flex flex-grow h-8 relative w-full">
    {{#unless @palette.colors.length}}
      <div
        class="absolute bg-main flex flex-grow h-8 items-center justify-center text-sm top-0 w-full"
      >
        Drag colors here
      </div>
    {{/unless}}

    <DragSortList
      @additionalArgs={{hash parent=@palette}}
      @classNames="absolute palette-color-squares flex flex-grow h-8 top-0 w-full"
      @childClass="flex flex-grow"
      @isHorizontal={{true}}
      @items={{@palette.colors}}
      @dragEndAction={{fn @moveColorsBetweenPalettes}} as |color index|
    >
      <div
        data-test-palette-color-square
        class="flex flex-grow
          {{if (eq index 0) "first"}}
          {{if (eq index (sub @palette.colors.length 1)) "last"}}"
        style={{html-safe (concat "background-color: " color.hex)}}
        {{on "click" (fn this.colorUtils.copyColorToClipboard color)}}
      ></div>
    </DragSortList>
  </div>
</div>