{{! template-lint-disable no-nested-interactive }}
<div
  class="bg-menu cursor-default mb-3 p-3 rounded w-full"
  data-test-palette-row="{{@palette.name}}"
  role="button"
  {{on "click" this.transitionToColors}}
>
  <div class="flex items-center justify-between pb-2 w-full">
    <h6 class="text-sm">
      {{#if this.isEditing}}
        <Input
          class="input h-6"
          @type="text"
          @value={{@palette.name}}
          {{did-insert this.insertedNameInput}}
          {{on "blur" (fn this.updatePaletteName @palette)}}
          {{on "keypress" this.enterPress}}
        />
      {{else}}
        <div class="flex flex-grow h-6 items-center text-main-text w-full">
          {{#if @palette.isLocked}}
            {{svg-jar "lock" class="icon mr-1" height="12" width="12"}}
          {{/if}}
          {{@palette.name}}
        </div>
      {{/if}}
    </h6>

    <div
      data-test-palette-row-menu
      {{on "mouseenter" (set this "showMenu" true)}}
      {{on "mouseleave" (set this "showMenu" false)}}
    >
      {{#animated-if this.showMenu duration=350 use=this.fade}}
        <div>
          <button
            class="mr-1"
            type="button"
            {{on "click" (stop-propagation (fn this.lockPalette))}}
          >
            {{svg-jar
              (if @palette.isLocked "lock" "unlock")
              class="icon"
              height="13"
              width="13"
            }}
          </button>

          <button
            class="mr-1"
            disabled={{@palette.isLocked}}
            type="button"
            {{on "click" (stop-propagation (fn this.favoritePalette))}}
          >
            {{svg-jar
              (if @palette.isFavorite "filled-heart" "outline-heart")
              class=(concat "icon " (if @palette.isFavorite "filled"))
              height="13"
              width="13"
            }}
          </button>

          <button
            data-test-delete-palette
            disabled={{@palette.isLocked}}
            type="button"
            {{on "click" (stop-propagation (fn this.deletePalette))}}
            {{on "mouseleave" (set this "deleteConfirm" false)}}
          >
            {{svg-jar
              "trash"
              class=(concat "icon " (if this.deleteConfirm "delete-confirm"))
              height="13"
              width="13"
            }}
          </button>
        </div>
      {{else}}
        <div>
          {{svg-jar "more-horizontal" class="icon" height="15" width="15"}}
        </div>
      {{/animated-if}}
    </div>
  </div>

  <div class="palette flex flex-grow h-8 relative w-full">
    {{#unless @palette.colors.length}}
      <div
        class="absolute bg-main border border-dashed border-gray-400 flex flex-grow h-8 items-center justify-center rounded text-sm top-0 w-full"
      >
        Drag colors here
      </div>
    {{/unless}}

    <DragSortList
      @additionalArgs={{hash parent=@palette}}
      @classNames="absolute palette-color-squares flex flex-grow h-8 top-0 w-full
      {{
        if @palette.isLocked "palette-locked"
      }}"
      @childClass="flex flex-grow"
      @group={{if @palette.isLocked @palette.id undefined}}
      @isHorizontal={{true}}
      @items={{this.sortedColors}}
      @sourceOnly={{@palette.isLocked}}
      @dragEndAction={{fn @moveColorsBetweenPalettes}} as |color index|
    >
      <div
        class="flex flex-grow relative
        {{if (eq index 0) "rounded-l"}}
         {{if (eq index (sub @palette.colors.length 1)) "rounded-r"}}"
      >
        <div
          data-test-palette-color-square
          class="absolute h-full left-0 top-0 w-full z-10
          {{if (eq index 0) "rounded-l"}}
           {{if (eq index (sub @palette.colors.length 1)) "rounded-r"}}"
          style={{html-safe (concat "background-color: " color.hex)}}
          {{on
            "click"
            (stop-propagation (fn this.colorUtils.copyColorToClipboard color))
          }}
        ></div>
        <div
          class="opacity-checkerboard absolute h-full left-0 top-0 w-full z-0
          {{if (eq index 0) "rounded-l"}}
           {{if (eq index (sub @palette.colors.length 1)) "rounded-r"}}"
        ></div>
      </div>
    </DragSortList>
  </div>
</div>