<div class="bg-menu cursor-default mb-2 p-3 rounded-lg shadow w-full">
  <div class="flex items-center justify-between pb-2 w-full">
    <h6 class="text-sm">
      {{#if this.isEditing}}
        <Input
          class="border border-2 rounded"
          @type="text"
          @value={{@palette.name}}
          {{did-insert this.insertedNameInput}}
          {{on "blur" (fn this.updatePaletteName @palette)}}
          {{on "keypress" (fn this.enterPress)}}
        />
      {{else}}
        <LinkTo
          class="flex flex-grow items-center mb-1 w-full"
          @query={{hash paletteId=@palette.id}}
          @route="color-manager.colors"
        >
          {{@palette.name}}
          {{svg-jar "arrow-right" class="icon ml-1" height="12" width="12"}}
        </LinkTo>
      {{/if}}
    </h6>
    <button {{on "click" (fn this.deletePalette)}}>
      {{svg-jar "trash" class="icon" height="10" width="10"}}
    </button>
  </div>

  <div class="palette flex flex-grow h-8 relative w-full">
    {{#unless @palette.colors.length}}
      <div
        class="absolute bg-main flex flex-grow h-8 items-center justify-center text-sm top-0 w-full"
      >
        Drag colors here
      </div>
    {{/unless}}

    <DragSortList
      @additionalArgs={{hash parent=@palette}}
      @classNames="absolute palette-color-squares flex flex-grow h-8 top-0 w-full"
      @childClass="flex flex-grow"
      @isHorizontal={{true}}
      @items={{@palette.colors}}
      @dragEndAction={{action @moveColorsBetweenPalettes}} as |color index|
    >
      <div
        class="flex flex-grow
          {{if (eq index 0) "first"}}
          {{if (eq index (sub @palette.colors.length 1)) "last"}}"
        style={{html-safe (concat "background-color: " color.hex)}}
        {{on "click" (fn this.colorUtils.copyColorToClipboard color)}}
      ></div>
    </DragSortList>
  </div>
</div>