<div class="font-normal text-sm w-full" data-test-settings-menu>
  <div class="p-1">
    <span class="mr-1">
      Startup:
    </span>
    <Input @type="checkbox" @checked={{this.settings.openOnStartup}} {{on "change" @enableDisableAutoStart}} data-test-settings-startup />
    Start Swach on system startup
  </div>

  <div class="p-1">
    <span class="mr-1">
      Sounds:
    </span>
    <Input @type="checkbox" @checked={{this.settings.sounds}} data-test-settings-sounds />
    Play Sounds
  </div>

  <div class="p-1" data-test-settings-select-theme>
    App theme:
    <PowerSelect
      @dropdownClass="bg-menu max-w-md text-alt text-xs"
      @triggerClass="bg-menu max-w-md text-alt text-xs"
      @options={{this.themes}}
      @placeholder="Choose a theme"
      @selected={{this.settings.userTheme}}
      @onChange={{this.changeTheme}} as |theme|
    >
      {{capitalize theme}}
    </PowerSelect>
  </div>

  <div class="p-1">
    <button
      class="bg-menu p-2 rounded"
      type="button"
      {{on "click" @checkForUpdates}}
    >
      Check for updates
    </button>
  </div>
</div>