<div class="bg-white flex flex-wrap items-center p-3 rounded shadow w-full">
  <LinkTo class="flex flex-grow items-center mb-1 w-full" @route="color-manager.colors">
    Color History {{svg-jar "arrow-right" class="icon ml-2" height="15" width="15"}}
  </LinkTo>

  <div class="flex flex-wrap w-full">
    {{#each this.last15Colors as |color|}}
      <DraggableObject @content={{color}}>
        <div
          class="cursor-move inline-block m-1 h-8 w-8"
          style={{html-safe (concat "background-color: " color.hex)}}
        >
        </div>
      </DraggableObject>
    {{/each}}
  </div>
</div>

<button
  class="flex mt-2 p-2 hover:text-alt-hover"
  {{on "click" this.createNewPalette}}
>
  {{svg-jar "plus" class="icon mr-2" height="20" width="20"}} New Palette
</button>

<PalettesList @palettes={{this.model.palettes}}/>