<span class="input-prefix capitalize">
  {{@type}}:
</span>

<OneWayInputMask
  ...attributes
  maxlength={{3}}
  @mask="9{1,3}"
  @options={{
    hash
    isComplete=this.isComplete
    min=0
    max=255
    oncomplete=this.onComplete
    onincomplete=this.onIncomplete
    regex=this.rgbRegex
    showMaskOnFocus=false
    showMaskOnHover=false
    unmaskAsNumber=false
  }}
  @update={{fn @update}}
  @value={{@value}}
  {{on "keypress" this.enterPress}}
/>