<div class="bg-menu p-4 rounded w-full">
  <div class="flex justify-between pt-4 w-full">
    <h2 class="font-bold text-2xl">
      {{if this.isConfirming "Reset Password" "Forgot Password"}}
    </h2>
    <p class="mt-2 text-menu-text text-sm">
      <LinkTo
        @route="settings.cloud.login"
        class="font-medium text-alt hover:text-alt-hover"
      >
        cancel
      </LinkTo>
    </p>
  </div>

  {{#if this.errorMessage}}
    <div class="bg-red-400 my-2 p-4 rounded text-xs text-red-800">
      {{this.errorMessage}}
    </div>
  {{/if}}

  <div class="mt-3">
    <div class="mb-4 rounded-md">
      <div>
        <label for="email-address" class="sr-only">
          Email address
        </label>
        <Input
          data-test-forgot-password-input-user
          autocomplete="email"
          class="input py-2 rounded-t text-sm w-full"
          id="email-address"
          name="email"
          placeholder="Email address"
          required
          type="email"
          @value={{this.username}}
        />
      </div>

      {{#if this.isConfirming}}
        <div>
          <label for="confirmation-code" class="sr-only">
            Confirmation code
          </label>
          <Input
            data-test-forgot-password-input-code
            autocomplete="current-password"
            class="input py-2 rounded-t text-sm w-full"
            id="confirmation-code"
            name="confirmation-code"
            placeholder="Confirmation code"
            required
            type="text"
            @value={{this.code}}
          />
        </div>

        <div>
          <label for="password" class="sr-only">
            Password
          </label>
          <Input
            data-test-forgot-password-input-password
            autocomplete="current-password"
            class="input py-2 rounded-t text-sm w-full"
            id="password"
            name="password"
            placeholder="Password"
            required
            type="password"
            @value={{this.password}}
          />
        </div>

        <div class="mt-3">
          <button
            class="btn btn-primary w-full"
            type="button"
            {{on "click" this.forgotPasswordSubmit}}
          >
            Reset Password
          </button>
        </div>
      {{else}}
        <div class="mt-3">
          <button
            class="btn btn-primary w-full"
            type="button"
            {{on "click" this.forgotPassword}}
          >
            Send Code
          </button>
        </div>
      {{/if}}
    </div>
  </div>
</div>