<div class="flex flex-col max-w-xl h-full relative w-full">
  <div class="bg-menu flex justify-between p-4 w-full">
    <button
      {{action "launchPicker" target=this.application}}
    >
      {{svg-jar "dropper" class="icon" height="15" width="15"}}
    </button>

    <button
      {{on "click" this.toggleMenuIsShown}}
    >
      {{svg-jar "menu" class="icon" height="15" width="15"}}

      <EmberPopover
        @event="none"
        @isShown={{this.menuIsShown}}
        @side="bottom"
        @spacing=10
      >
        <button  {{action "showContrastChecker" target=this.application}}>
          Check Contrast
        </button>
      </EmberPopover>
    </button>


    <ColorPicker @addColor={{action this.addColor}}/>
  </div>

  <ColorsList @colors={{this.model}}/>

  <div class="bg-menu flex justify-end p-4 w-full">
    <button {{action "exitApp" target=this.application}}>
      {{svg-jar "power" class="icon mr-3 stroke-width-5" height="15" width="15"}}
    </button>

    <button {{action "showPreferences" target=this.application}}>
      {{svg-jar "gear" class="icon" height="15" width="15"}}
    </button>
  </div>
</div>