<div class="bg-menu flex flex-wrap items-center p-2 rounded-lg shadow w-full">
  <LinkTo
    class="flex flex-grow items-center p-1 text-sm w-full"
    @query={{hash paletteId=this.model.colorHistory.id}}
    @route="colors"
  >
    Color History
    {{svg-jar "arrow-right" class="icon ml-1" height="12" width="12"}}
  </LinkTo>

  <DragSortList
    @additionalArgs={{hash isColorHistory=true}}
    @classNames="color-history-list flex flex-wrap w-full"
    @isHorizontal={{true}}
    @items={{this.last16Colors}}
    @sourceOnly={{true}}
    @dragEndAction={{fn this.moveColorsBetweenPalettes}} as |color|
  >
    <div
      class="inline-block m-1 h-8 rounded w-8"
      style={{html-safe (concat "background-color: " color.hex)}}
      {{on "click" (fn this.colorUtils.copyColorToClipboard color)}}
    ></div>
  </DragSortList>
</div>

<div class="flex items-center justify-between p-1 pb-2 pt-2 w-full">
  <h2 class="text-lg">
    Palettes
  </h2>

  <div>
    <button
      type="button"
      {{on "click" (set this.showFavorites (not this.showFavorites))}}
    >
      {{svg-jar
        "heart"
        class=(concat "icon " (if this.showFavorites "filled"))
        height="15"
        width="15"
      }}
    </button>

    <button
      class="ml-1 mt-1 text-sm hover:text-alt-hover"
      type="button"
      {{on "click" this.createNewPalette}}
    >
      {{svg-jar "plus-circle" class="icon" height="15" width="15"}}
    </button>
  </div>
</div>

<PalettesList
  @moveColorsBetweenPalettes={{this.moveColorsBetweenPalettes}}
  @palettes={{this.palettes}}
/>