<div class="bg-menu flex flex-wrap items-center p-2 rounded-lg shadow w-full">
  <LinkTo
    class="flex flex-grow items-center p-1 text-sm w-full"
    @query={{hash paletteId=this.model.colorHistory.id}}
    @route="colors"
  >
    Color History
    {{svg-jar "arrow-right" class="icon ml-1" height="12" width="12"}}
  </LinkTo>

  <DragSortList
    @additionalArgs={{hash isColorHistory=true}}
    @classNames="color-history-list flex flex-wrap w-full"
    @isHorizontal={{true}}
    @items={{this.last16Colors}}
    @sourceOnly={{true}}
    @dragEndAction={{fn this.moveColorsBetweenPalettes}} as |color|
  >
    <div
      class="inline-block m-1 h-8 rounded w-8"
      style={{html-safe (concat "background-color: " color.hex)}}
      {{on "click" (fn this.colorUtils.copyColorToClipboard color)}}
    ></div>
  </DragSortList>
</div>

<button
  class="flex items-center mt-2 p-2 text-sm hover:text-alt-hover"
  type="button"
  {{on "click" this.createNewPalette}}
>
  {{svg-jar "plus" class="icon mr-1" height="12" width="12"}}
  New Palette
</button>

<div class="w-full">
  <PalettesList
    @moveColorsBetweenPalettes={{this.moveColorsBetweenPalettes}}
    @palettes={{this.palettes}}
  />
</div>