<div class="bg-menu flex flex-wrap items-center p-2 rounded w-full">
  <LinkTo
    class="flex flex-grow items-center p-1 text-main-text text-sm w-full"
    @query={{hash paletteId=this.model.colorHistory.id}}
    @route="colors"
  >
    Color History
  </LinkTo>

  {{#if this.last16Colors.length}}
    <DragSortList
      @additionalArgs={{hash isColorHistory=true}}
      @classNames="color-history-list flex flex-wrap w-full"
      @isHorizontal={{true}}
      @items={{this.last16Colors}}
      @sourceOnly={{true}}
      @dragEndAction={{fn this.moveColorsBetweenPalettes}} as |color|
    >
      <div
        class="inline-block m-1 h-8 rounded w-8"
        style={{html-safe (concat "background-color: " color.hex)}}
        {{on "click" (fn this.colorUtils.copyColorToClipboard color)}}
      ></div>
    </DragSortList>
  {{else}}
    <div class="bg-main inline-flex items-center justify-center m-1 h-8 rounded text-sm w-full">
      Your color history is empty.
    </div>
  {{/if}}
</div>

<div class="flex items-center justify-between mt-4 p-1 pb-2 pt-2 w-full">
  <h2 class="text-lg">
    Palettes
  </h2>

  <div>
    <button
      type="button"
      {{on "click" (set this.showFavorites (not this.showFavorites))}}
    >
      {{svg-jar
        (if this.showFavorites "filled-heart" "outline-heart")
        class=(concat "icon " (if this.showFavorites "filled"))
        height="15"
        width="15"
      }}
    </button>

    <button
      data-test-create-palette
      class="ml-1 mt-1 text-sm hover:text-alt-hover"
      type="button"
      {{on "click" this.createNewPalette}}
    >
      {{svg-jar "plus-circle" class="icon" height="15" width="15"}}
    </button>
  </div>
</div>

<PalettesList
  @moveColorsBetweenPalettes={{this.moveColorsBetweenPalettes}}
  @palettes={{this.palettes}}
  @showFavorites={{this.showFavorites}}
/>